{% extends 'layout.twig' %}

{% block title %}
    Liste des posts - {{ parent() }}
{% endblock %}

{% block content %}
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Liste des posts</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="home">Accueil</a>
      </li>
      <li class="breadcrumb-item active">Liste des posts</li>
    </ol>

    {% for post in posts %}
    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="post/post/{{ post.id }}">
              <img class="img-fluid rounded" src="public/img/blog_post.jpg" alt="Blog Post">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.leadParagraph|nl2br }}</p>
            <a href="post/post/{{ post.id }}" class="btn btn-info">Voir Plus &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posté le {{ post.createdDate|date("d/m/Y") }} par <span class="font-weight-bold">{{ post.author }}</span>
        <div class="float-right">
          <a href="post/deletePost/{{ post.id }}" class="btn btn-default btn-md">
            <span class="fa fa-trash"></span> Supprimer 
          </a>
        </div>
      </div>
    </div>
    {% endfor %}

{% endblock %}